{:kotoba.app/id "cloud.itonami.isic-2816", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreib4bgugid7bp76zeavtkqwrqwqhkgqxjjwedhhoq4ze5ao7hricdm", :kotoba.app/embed-url "ipfs://bafkreib4bgugid7bp76zeavtkqwrqwqhkgqxjjwedhhoq4ze5ao7hricdm", :published {:archive "https://kotobase.net/ipfs/bafkreib4bgugid7bp76zeavtkqwrqwqhkgqxjjwedhhoq4ze5ao7hricdm", :size 72532, :put-status 201, :get-status 200, :at "2026-08-15T13:44:50.514Z"}}
